*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(202, 132, 146);
    font-size: 16px;
}

.section{
background: aquamarine;
height: 100vh; /*1vh= 1% alto de la pantalla */
}

.em{
font-size: 1.1em; /* Ligado a mi contenedor*/
}

.rem{
font-size: 1.1rem; /*Ligado a mi navegador / ligado a Body */
}

.porcentage{
font-size: 110%;

}

.pixeles{
    font-size: 17.6px;
}