@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html{
    padding: 0;
    margin: 0;
    
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

.header{
text-align: center;
margin-top: 40px
}

h1{
    font-size: 1.25em;
    padding-top: 20px;
    color: #FB962D
}
.form{
    margin: 0 auto;
    width: 400px;
    
}

section .buttons{
    text-align: center;
}

.or{
    margin-top: 15px;
}

.btn.btn-primary{
    border-radius: 100px;
    min-width: 200px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.19);
}
.form-group .form-control{
    border: none;
    border-bottom: 1px solid #777070;
    border-radius: 0;
    padding-top: 0;
    margin-top: 40px;

}

.forgot{
    padding-left: 11px;
    font-size: 12px;
}

.buttons{
    margin-top: 70px;
}

.sign-up{
    margin-top: 70px;
    font-size: 0.875em;
}

#sign-in{
    background-color: #FB962D;
    border: none;
}

#google{
    background-color: transparent;
    border: 1px solid #FB962D;
    color: #FB962D;
}

a{
    color: #504b4b79;
}

.button-create{
    margin-top: 0;
    text-align: center;
}

#create{
background-color: #FB962D;
border: none;
margin-top: 20px;
}

.form-check-label{
    color: #504b4b79;
}

.welcome{
    text-align: center;
    padding: 90px;
}

.welcome p{
    margin-top: 40px;
}

.add{
    margin-top: 40px;
}

.welcome h1{
font-size: 1.875em;

}
